@{
    Layout = "_AppLayout";
}
@using System.Collections.Generic
@using System.Linq
@using ITMeat.WEB.Models.Common
@using Microsoft.AspNetCore.Mvc.Rendering
@model  System.Collections.Generic.List<ITMeat.WEB.Models.Pub.PubOfertsViewModel>
<div class="center_side">
    <div class="titlename">Pub Oferts</div>

    <div class="ui two column grid">
        <div class="right floated column">
            <div class="ui inverted segment" id="ActionPubOferts">
                <a href="@Url.Action("EditPubInformations", "Pub", new {Model.FirstOrDefault().PubId})"><button class="ui grey button floated right"><i class="edit icon"></i> Edit Info</button></a>
                <br />
                <a href="@Url.Action("AddNewMealToPub", "Meal", new {Model.FirstOrDefault().PubId})"><button class="ui grey button floated right"><i class="add icon"></i> Add Meal </button></a>
            </div>
        </div>
    </div>

    <div id="MealInPubOferts">
        <div id="OfertsMealList">
            <table class="ui single line table" id="OfertsMealTableRow">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Expense</th>
                        <th class="four wide">Action</th>
                    </tr>
                </thead>
                <tbody id="OfertsMealTable">

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => item.MealTypeName)</td>
                            <td>@Html.DisplayFor(m => item.MealName)</td>
                            <td>@Html.DisplayFor(m => item.MealExpense)</td>
                            <td>
                                <a><button class="deleteItem ui grey button" data-id="@item.MealId"><i class="remove icon"> </i>Remove</button></a>
                                <a href="@Url.Action("EditSelectedMeal", "Meal", new { item.MealId })"><button class="ui grey button" data-id="item.MealId"><i class="edit icon"> </i>Edit</button></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new DeleteModalViewModel()
{
    Text = "Are sure? You wana delete this meal?",
    Action = "Delete",
    ControllerName = ViewContext.RouteData.Values["controller"].ToString()
})