@{
    Layout = "_AppLayout";
}
@using Microsoft.AspNetCore.Mvc.Rendering
@model ITMeat.WEB.Models.Pub.PubInfoViewModel
<div class="center_side">
    <div class="titlename">Edit Pub</div>
    <h4 class="ui dividing header" style="text-align: center;">Pub Information</h4>
    <div class="ui two column centered grid">
        <div class="column">
            <div class="ui inverted segment">
                @using (Html.BeginForm("EditPubInformations", "Pub", FormMethod.Post, new { id = "EditPubForm", @class = "ui inverted form" }))
                {
                    <div class="field">
                        <div class="ui left icon input">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name", type = "name", required = "required" })
                            <i class="sticky note icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            @Html.TextBoxFor(m => m.FreeDelivery, new { @class = "form-control", placeholder = "FreeDelivery", type = "name", required = "required" })
                            <i class="money icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Phone Number/format{XXXXXXXXX}", type = "tel", pattern = "^\\d{9}$", required = "required" })
                            <i class="call icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Address", type = "text", required = "required" })
                            <i class="book icon"></i>
                        </div>
                    </div>
                }
                <div class="ui two column grid">
                    <div class="right floated column">
                        <div class="ui inverted segment" id="Action EdiPub">
                            <a href="@Url.Action("Meals", "Meal", new { Model.PubId})"><b><button class="ui blue button">Edit Pub Oferts -></button></a>
                            <button class="ui green button" type="submit" form="EditPubForm">Edit Pub</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>