@using ITMeat.WEB.Helpers
@using Microsoft.AspNetCore.Mvc.Rendering
<div class="ui vertical inverted sidebar menu visible left">
    <div data-id="@Context.Actor()" data-name="@Context.UserName()"id="SignedDiv"></div>
    <div id="name_logo" class="item">
        <div id="team_name">ITMeat</div>
        <br />
        <div>
            <a class="ui logo icon image" href="@Url.Action("Index", "Home")">
                <img src="/images/logo.png" alt="Logo">
            </a>
        </div>
    </div>

    <div class="menu">
        <a class="item" href="@Url.Action("NewOrder", "Order")"> <button class="ui button green menubutton"><i class="plus square outline icon"></i> Create new Orders</button></a>
        <a class="item" href="@Url.Action("ActiveOrders", "Order")"> <button class="ui button green menubutton"><i class="hourglass empty icon"></i> Active Order</button></a>
        <a class="item" href="@Url.Action("OrdersHistory", "Order")"> <button class="ui button green menubutton" id="OrderHistoryButton"><i class="history icon"></i> Order History</button></a>
        <a class="item"> <button class="ui button green menubutton"><i class="bar chart icon"></i> Statistics</button></a>
        <a class="item"> <button class="ui button green menubutton"><i class="settings icon"></i>Settings</button></a>
    </div>

    <div id="logout" class="bottom aligned item">
        @using (Html.BeginForm("Logout", "Auth", null, FormMethod.Post, true, new { id = "logoutForm" }))
        {
            <button type="submit" class="ui fluid button negative">Log off</button>
        }
    </div>
</div>