@using ITMeat.WEB.Helpers
@using Microsoft.AspNetCore.Mvc.Rendering
<div class="ui vertical inverted sidebar menu visible left">
    <div data-id="@Context.Actor()" data-name="@Context.UserName()" id="SignedDiv"></div>
    <div id="name_logo" class="item">
        <div id="team_name">ITMeat</div>
        <br />
        <div>
            <a class="ui logo icon image" href="@Url.Action("Index", "Home")">
                <img src="/images/logo.png" alt="Logo">
            </a>
        </div>
    </div>

    <div class="menu">
        <a class="item" href="@Url.Action("NewOrder", "Order")"> <button class="ui button green menubutton"><i class="plus square outline icon"></i> Create new Orders</button></a>
        <a class="item" href="@Url.Action("ActiveOrders", "Order")"> <button class="ui button green menubutton"><i class="hourglass empty icon"></i> Active Order</button></a>
        <a class="item" href="@Url.Action("OrdersHistory", "Order")"> <button class="ui button green menubutton" id="OrderHistoryButton"><i class="history icon"></i> Order History</button></a>
        <a class="item" href="@Url.Action("Statistic", "Order")"> <button class="ui button green menubutton"><i class="bar chart icon"></i> Statistics</button></a>
        <div class="ui accordion">
            <div class="title">
                <button class="ui button green menubutton"><i class="settings icon"></i> Pub Management</button>
            </div>
            <div class="content">
                <a href="@Url.Action("AddNewPub", "Pub")"><button class="ui button green menubutton twist"><i class="add icon"></i>Add Pub</button></a>
                <a href="@Url.Action("SelectPubToEdit", "Pub")"><bu><button class="ui button green menubutton twist"><i class="edit icon"></i>Edit Pub</button></a>
            </div>
        </div>
    </div>

    <div id="logout" class="bottom aligned item">
        @using (Html.BeginForm("Logout", "Auth", null, FormMethod.Post, true, new { id = "logoutForm" }))
        {
            <button type="submit" class="ui fluid button negative"> <i class="sign out icon"></i>Log off</button>
        }
    </div>
</div>