@{
    Layout = "_AppLayout";

}
@model ITMeat.WEB.Models.MealType.GroupSatysticViewModel
<environment names="Development">
    <script src="~/lib/chart.js/dist/Chart.js"></script>
</environment>

<environment names="Staging,Production">
    <script src="~/lib/chart.js/dist/Chart.min.js"></script>
</environment>

<div id="statisticView">
    <div class="titlename ">User Statistic</div>
    <div class=" ui three column grid">
        <div class="column">
            <h2>Your Expense by Meal Type </h2>
            <canvas id="SumExpenseChart"></canvas>
        </div>
        <div class="column">
            <h2>Mostly selected Meal </h2>
            <canvas id="MostlySelectedMealChart"></canvas>
        </div>
        <div class="column">
            <h2>Meal Count by Meal Type </h2>
            <canvas id="CountChart"></canvas>
        </div>
    </div>
</div>

<script>

    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++ ) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    var labelSumArray = [];
    var dateSumArray = [];
    var colorSumArray = [];

    var expense;

    @foreach (var item in Model.SumExpenseByMealTypesModels)
    {
        @:labelSumArray.push("@item.MealTypeName");
        @:expense = @item.SumExpense;
        @:dateSumArray.push(expense.toFixed());
        @:colorSumArray.push(getRandomColor());
    }
    var ctx = document.getElementById("SumExpenseChart").getContext('2d');
    var SumExpenseChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: labelSumArray,
            datasets: [{
                label: "zł",
                backgroundColor: colorSumArray,
                data: dateSumArray,

            }]
        },
    });

    var labelCounntArray = [];
    var dateCounntArray = [];
    var colorCounntArray = [];
    @foreach (var item in Model.MealsCountByMealTypeModels)
    {
        @:labelCounntArray.push("@item.MealTypeName");
        @:dateCounntArray.push("@item.CountValue");
        @:colorCounntArray.push(getRandomColor());
    }
    var ctr = document.getElementById("CountChart").getContext('2d');
    var CountChart = new Chart(ctr, {
        type: 'doughnut',
        data: {
            labels: labelCounntArray,
            datasets: [{
                label: "zł",
                backgroundColor: colorCounntArray,
                data: dateCounntArray,

            }]
        },
    });

    var labelMostlyArray = [];
    var dateMostlyArray = [];
    var colorMostlyArray = [];
    @foreach (var item in Model.MostlySelectedMealInOrder)
    {
        @:labelMostlyArray.push("@item.MealName");
        @:dateMostlyArray.push("@item.CountValue");
        @:colorMostlyArray.push(getRandomColor());
    }
    var ct = document.getElementById("MostlySelectedMealChart").getContext('2d');
    var MostlySelectedMealChart = new Chart(ct, {
        type: 'doughnut',
        data: {
            labels: labelMostlyArray,
            datasets: [{
                label: "zł",
                backgroundColor: colorMostlyArray,
                data: dateMostlyArray,

            }]
        },
    });
</script>