@{
    Layout = "_AppLayout";

}
@Html.Partial("_AddMealToOrderModal")
@Html.Partial("_DeleteMealModal")
<div class="titlename smallTitle">Please add your meals,Thanks man!</div>
<div class="ui grid backgroundMain">
    <div class="eight wide column">
        <div  class="coldownOrder ">
            <div class="text ">
                Time remaining to end order:
            </div>
            <div class="itemGroupDays">
                <div class="itemCountDown" id="daysCountDown"></div>
                <div class="labelDays"> DAY</div>
            </div>
            <div class="separator"> : </div>
            <div class="itemGroupHours">
                <div class="itemCountDown" id="hoursCountDown"></div>
                <div class="labelhours"> HOUR</div>
            </div>
            <div class="separator"> : </div>
            <div class="itemGroupMinutes">
                <div class="itemCountDown" id="minutesCountDown"></div>
                <div class="labelMinutes"> MIN</div>
            </div>
            <div class="separator"> : </div>
            <div class="itemGroupSeconds">
                <div class="itemCountDown" id="secondsCountDown"></div>
                <div class="labelSeconds"> SEC</div>
            </div>
        </div>
    </div>
    <div class=" eight wide column">
        <div class=" freeDelivey">
            <div class="text ">
                Required order quantity to obtain free delivery :
            </div>
            <div class="itemGroupExpense">
                <div class="itemCountDown" id="ExpenseCountDown"></div>
                <div class="labelExpense"> Zł</div>
            </div>
        </div>
    </div>
</div>

<div id="MealsInOrderViews">
    <div id="MealsList">
        <table class="ui single line table">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Meals Name</th>
                    <th>Quantity</th>
                    <th>Expense</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="MealsInOrderTable" data-OrderEndTime="@ViewBag.OrderEndDateTime" data-OrderId="@ViewBag.OrderId"></tbody>
        </table>
        <div class="AddNewOrdersMeals">
            <div id="AddMealCircleButton" onclick="AddNewMeal('@ViewBag.OrderId')"> <i class="huge green add circle icon"></i> </div>
        </div>
    </div>
</div>