@{
    Layout = "_WebLayout";
}
@model ITMeat.WEB.Models.Auth.ChangePasswordViewModel

<div class="ui two column centered grid">
    <div class="column">
        <br />
        <h2 class="ui green header">Change password to ITMeat Account</h2>
        <br />
        @using (Html.BeginForm("ChangePassword", "Auth", FormMethod.Post))
        {
            <div class="ui large form">
                <div class="field">
                    <div class="ui left icon input">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", type = "email", required = "required" })
                        <i class="user icon"></i>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = " Old Password", required = "required" })
                        <i class="lock icon"></i>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = " new Password", required = "required" })
                        <i class="lock icon"></i>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        @Html.PasswordFor(m => m.NewPasswordConfirm, new { @class = "form-control", placeholder = " Confirm Password", required = "required" })
                        <i class="lock icon"></i>
                    </div>
                </div>
                <div class="field">
                    <button class="ui button" type="submit" id="btnLogin"> <i class="sign in icon"></i>Change</button>
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        <br />
    </div>
</div>